$primaryColor: #3E2ABE;

$gray: #666666;
$whiteInactive: #AFA5D9;
$white: #FFF;

$navWidth: 100px;
$navbarHeight: 60px;

.layoutContainer {
    .sidebarContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: $navWidth + 156px;
        height: 100vh;
        z-index: 10;
        user-select: none;
        
        .sidebar {
            position: relative;
            display: flex;
            left: 0;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            background-color: $primaryColor;
            padding: 1rem;
            overflow: hidden;
            
            
            .navBrand {
                display: block;
                color: $white;
                font-size: 2rem;
                font-weight: 700;
                text-decoration: none;
                text-align: center;
                margin-bottom: 2rem;
            }

            .navLink {
                position: relative;
                display: grid;
                grid-template-columns: max-content max-content;
                align-items: center;
                column-gap: 1rem;
                color: $whiteInactive;
                margin-bottom: 1.5rem;
                text-decoration: none;
                background-color: transparent;
                border: none;
                padding: 0;
                transition: .2s;

                &:hover, &.active {
                    color: $white;
                }

                .navTitle {
                    font-weight: 600;
                }
            }
        }
    }

    .contentContainer {
        position: relative;
        background-color: #FFF;
        padding-left: $navWidth + 156px;
        padding-top: .5rem;
        min-height: 100vh;
        min-width: 100vw;

        .contentTitle {
            font-size: 2.5rem;
            font-weight: 700;
            padding-top: .5rem;
            padding-bottom: 2rem;

            .contentSubtitle {
                font-size: 1.5rem;
                color: $gray;
            }
        }
    }
}

.modalContent {
    .modalInfoGroup {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        .modalInfoTitle {
            font-weight: 600;
        }

        .modalInfoSubtitle {
            font-size: 1.5rem;
        }

        .modalInfoImage {
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            img {
                width: 75%;
                border-radius: 1rem;
                box-shadow: 0px 5px 10px rgb(0 0 0 / 25%);
            }
        }
    }
}