.container {
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FFF;

    .scanTitle {
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }

    .scanSubtitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .scannerHeader {
        .scannerTitle {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;
        }

        .scannerSubtitle {
            font-size: 1rem;
            text-align: center;
        }

    }

    .scannerContent {
        position: relative;
        padding-top: 88%;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        overflow: hidden;

        .scannerImage, .scannerVideoWrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: cover;
            object-position: center;
        }

        .scannerVideoWrapper {
            #scannerVideoSource {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            #scannerResult {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
